In [168]:
import pandas as pd 
from sqlalchemy import create_engine

In [169]:
path = "C:\\Users\\jsalo\\Desktop\\traca_mostres\\"

In [170]:
edar_data = pd.read_excel(path+'edar_data.xlsx')
edar_data.head()

,codi_eu,codi_aca,nom_edar,poblacio_sanejada,primari,secundari,terciari
0,ES9080010001010E,DABR,ABRERA,63029,P,SP,NaN
1,ES9080140001010E,DAGF,AIGUAFREDA,4626,P,SN,NaN
2,ES9430050001010E,DALB,ALCOVER,4611,P,SC,NaN
3,ES9430090001010E,DALJ,ALFORJA,1790,P,SC,NaN
4,ES9170080001010E,DANG,ANGLÈS,5569,P,SP,NaN

In [171]:
#Take columns codi_eu and nom_edar and convert to dictionary with key nom_edar and value codi_eu
edar_dict = edar_data.set_index('nom_edar')['codi_eu'].to_dict()

In [172]:
#Functions that read the data from the excel file and return a dataframe, parses column fecha as date
def read_data(file, edar_dict):
    df = pd.read_excel(file, parse_dates=['fecha'])
    if 'cod_eu' not in df.columns:
        df['cod_eu'] = df['nom_edar'].map(edar_dict)
    #If missing value in code_eu, take column name and look for it in edar_dict
    df['cod_eu'] = df['cod_eu'].fillna(df['nom_edar'].map(edar_dict))
    #Drop id column if exists
    if 'id' in df.columns:
        df.drop('id', axis=1, inplace=True)
    return df

In [173]:
prtr_edars_2 = read_data(path+'prtr_edars_2.xlsx', edar_dict)
prtr_edars_2.head()

,nom_edar,fecha,Arsènic,Crom,Coure,Niquel,Plom,Zinc,Tetracloroetilè,Triclorometà,...,Diuron,Nonilfenols,t-octilfenol,Nitrogen Total,DBO 5 dies,Fòsfor total,Cianurs totals,TOC,Tricloroetilè,cod_eu
0,REUS,2021-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,74.0,NaN,6.0,NaN,13.0,NaN,ES9431230006010E
1,RIERA DE LA BISBAL,2022-03-10,NaN,NaN,NaN,NaN,NaN,0.026,NaN,NaN,...,NaN,NaN,NaN,26.0,NaN,3.1,NaN,9.0,NaN,NaN
2,VIC,2022-03-10,NaN,NaN,NaN,0.029,NaN,0.063,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,ES9082980001010E
3,RUBÍ,2021-10-06,NaN,NaN,0.033,0.017,NaN,0.090,NaN,NaN,...,NaN,NaN,NaN,63.0,NaN,2.5,NaN,25.0,NaN,ES9081840001010E
4,PINEDA,2022-01-17,NaN,NaN,NaN,NaN,NaN,0.040,NaN,NaN,...,0.00011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
prtr_edars_1 = read_data(path+'prtr_edars.xlsx', edar_dict)
prtr_edars_1.head()

,cod_eu,cod_aca,nom_edar,fecha,Arsènic,Cadmi,Crom,Coure,Mercuri,Niquel,...,trifenilestaño µg/l,npeoe=0,t-octilfenol,DBO 5 dies,propazina µg/l,Terbutilazina,Terbutrina,Cibutrina,suma triazines µg/l,Fòsfor total
0,ES9081940001010E,DBSS,BESÒS,2009-01-01,3.4,NaN,3.9,3.0,NaN,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ES9083010001010E,DGVC,GAVÀ/VILADECANS,2009-01-01,6.5,NaN,6.6,12.9,NaN,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ES9170790005010E,DGIR,GIRONA,2009-01-01,1.4,NaN,NaN,21.3,NaN,2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ES9080960001010E,DGRA,GRANOLLERS,2009-01-01,1.5,NaN,7.8,5.2,NaN,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ES9081050001010E,DLLL,LA LLAGOSTA,2009-01-01,1.7,NaN,3.6,4.3,NaN,18.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [175]:
#Add rows from prtr_edars_2 to prtr_edars
prtr_edars = pd.concat([prtr_edars_1, prtr_edars_2], ignore_index=True)

prtr_edars.head()

,cod_eu,cod_aca,nom_edar,fecha,Arsènic,Cadmi,Crom,Coure,Mercuri,Niquel,...,npeoe=0,t-octilfenol,DBO 5 dies,propazina µg/l,Terbutilazina,Terbutrina,Cibutrina,suma triazines µg/l,Fòsfor total,TOC
0,ES9081940001010E,DBSS,BESÒS,2009-01-01,3.4,NaN,3.9,3.0,NaN,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ES9083010001010E,DGVC,GAVÀ/VILADECANS,2009-01-01,6.5,NaN,6.6,12.9,NaN,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ES9170790005010E,DGIR,GIRONA,2009-01-01,1.4,NaN,NaN,21.3,NaN,2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ES9080960001010E,DGRA,GRANOLLERS,2009-01-01,1.5,NaN,7.8,5.2,NaN,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ES9081050001010E,DLLL,LA LLAGOSTA,2009-01-01,1.7,NaN,3.6,4.3,NaN,18.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
str_columns = ['cod_eu', 'cod_aca', 'nom_edar', 'fecha', 'codi_eu']
#If column is not in str_columns, divide by 1000 (convert to micrograms/L to milligrams/L)
prtr_edars.loc[:, ~prtr_edars.columns.isin(str_columns)] = prtr_edars.loc[:, ~prtr_edars.columns.isin(str_columns)].div(1000)
prtr_edars

,cod_eu,cod_aca,nom_edar,fecha,Arsènic,Cadmi,Crom,Coure,Mercuri,Niquel,...,npeoe=0,t-octilfenol,DBO 5 dies,propazina µg/l,Terbutilazina,Terbutrina,Cibutrina,suma triazines µg/l,Fòsfor total,TOC
0,ES9081940001010E,DBSS,BESÒS,2009-01-01,0.003400,NaN,0.0039,0.003000,NaN,0.011200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ES9083010001010E,DGVC,GAVÀ/VILADECANS,2009-01-01,0.006500,NaN,0.0066,0.012900,NaN,0.037000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ES9170790005010E,DGIR,GIRONA,2009-01-01,0.001400,NaN,NaN,0.021300,NaN,0.002300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ES9080960001010E,DGRA,GRANOLLERS,2009-01-01,0.001500,NaN,0.0078,0.005200,NaN,0.009800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ES9081050001010E,DLLL,LA LLAGOSTA,2009-01-01,0.001700,NaN,0.0036,0.004300,NaN,0.018200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,NaN,NaN,SANT FELIU,2021-07-05,NaN,NaN,NaN,NaN,NaN,0.000022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015
297,NaN,NaN,SANT FELIU,2021-10-07,NaN,NaN,NaN,NaN,NaN,0.000027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,ES9082050005010E,NaN,VALLVIDRERA,2021-05-17,NaN,NaN,NaN,NaN,NaN,0.000009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00225,NaN
299,ES9082050005010E,NaN,VALLVIDRERA,2021-09-22,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007
300,ES9082050005010E,NaN,VALLVIDRERA,2021-11-11,0.000002,NaN,NaN,0.000005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009

In [177]:
analitiques_sistemes = pd.read_excel(path+'edars_analitiques_sistemes_2.xlsx')
analitiques_sistemes.head()

,cod_aca,nom_edar,any_dades,cabal_diari,DBO 5 dies influent,DBO 5 dies effluent,Nitrogen Total influent,Nitrogen Total effluent,Fòsfor total influent,Fòsfor total effluent
0,DABR,ABRERA,2010,18140.610959,NaN,18.541667,54.206666,31.692917,7.275000,2.045833
1,DABR,ABRERA,2011,16261.693151,285.833333,10.333333,54.934584,17.215417,9.650000,3.287500
2,DABR,ABRERA,2012,14575.366120,285.588235,52.336471,12.272353,37.411765,8.429412,2.476471
3,DABR,ABRERA,2013,15390.208219,179.520989,16.500000,42.100001,12.191667,4.458333,0.699167
4,DABR,ABRERA,2014,15725.142466,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
influent = analitiques_sistemes.copy()
effluent = analitiques_sistemes

In [179]:
#Delete all the columns which name contains 'influent'
effluent = effluent[effluent.columns.drop(list(effluent.filter(regex='influent')))]
#Delete all the columns which name contains 'effluent'
influent = influent[influent.columns.drop(list(influent.filter(regex='effluent')))]

#Rename columns to remove 'influent' or 'effluent' from the name
influent.columns = influent.columns.str.replace(' influent', '')
effluent.columns = effluent.columns.str.replace(' effluent', '')

In [180]:
#Add column 'codi_eu' to influent and effluent
influent['cod_eu'] = influent['nom_edar'].map(edar_dict)
effluent['cod_eu'] = effluent['nom_edar'].map(edar_dict)

C:\Users\jsalo\AppData\Local\Temp\ipykernel_2816\183462784.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  effluent['cod_eu'] = effluent['nom_edar'].map(edar_dict)

In [181]:
#append prtr edars to effluent
data = pd.concat([effluent, prtr_edars], ignore_index=True)
data.head()

,cod_aca,nom_edar,any_dades,cabal_diari,DBO 5 dies,Nitrogen Total,Fòsfor total,cod_eu,fecha,Arsènic,...,monofenilestaño µg/l,trifenilestaño µg/l,npeoe=0,t-octilfenol,propazina µg/l,Terbutilazina,Terbutrina,Cibutrina,suma triazines µg/l,TOC
0,DABR,ABRERA,2010.0,18140.610959,18.541667,31.692917,2.045833,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DABR,ABRERA,2011.0,16261.693151,10.333333,17.215417,3.287500,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DABR,ABRERA,2012.0,14575.366120,52.336471,37.411765,2.476471,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DABR,ABRERA,2013.0,15390.208219,16.500000,12.191667,0.699167,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DABR,ABRERA,2014.0,15725.142466,NaN,NaN,NaN,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
#Read from sql pandas dataframe
command = 'SELECT * FROM edar_scarce_2'
engine = create_engine('postgresql://traca_user:EdificiH2O!@217.61.208.188:5432/traca_1')

scarce = pd.read_sql(command, con=engine)

In [183]:
scarce.head()

,id,Sample matrix,Other,Substance name,Value,modif,Concentration,LoD,LoQ,Unit,...,lat,lon,Name of river,River basin name,Day,Month,Year,campaign,zone,tipus
0,28,water,pesticides,Clofenvinfós,0.00400,None,Individual value,voidLoD,voidLoQ,µg L-1,...,403666,4617759,Cardener,LLOBREGAT,26,9,2011,C2,31,prioritari
1,27,water,pesticides,Clofenvinfós,0.03356,None,Individual value,voidLoD,voidLoQ,µg L-1,...,403666,4617759,Cardener,LLOBREGAT,26,9,2011,C2,31,prioritari
2,7,Water,Pharmaceuticals,Amoxicilina,0.00559,None,Individual value,voidLoD,voidLoQ,µg L-1,...,410063,4595868,Llobregat,LLOBREGAT,13,10,2011,C2,31,preferent
3,8,Water,Pharmaceuticals,Amoxicilina,0.00275,None,Individual value,voidLoD,voidLoQ,µg L-1,...,410063,4595868,Llobregat,LLOBREGAT,13,10,2011,C2,31,preferent
4,10,Water,Pharmaceuticals,Amoxicilina,0.00559,None,Individual value,voidLoD,voidLoQ,µg L-1,...,387448,4602419,Anoia,LLOBREGAT,18,10,2011,C2,31,preferent

In [184]:
Code_to_cod_eu = {
    'DEPABR-O': 'ES9080010001010E', #Abrera
    'DEPABR-I': 'ES9080010001010E', #Abrera
    'DEPIGU-O': 'ES9083020001010E', #Igualada
    'DEPIGU-I': 'ES9083020001010E', #Igualada
    'DEPIGU-O': 'ES9083020001010E', #Igualada
    'DEPMAN-O': 'ES9081130006010E', #Manresa
    'DEPMAN-I': 'ES9081130006010E', #Manresa
}

In [185]:
#In scarce, add cod_eu column using Code_to_cod_eu dictionary
scarce['cod_eu'] = scarce['Code'].map(Code_to_cod_eu)
scarce.head()

,id,Sample matrix,Other,Substance name,Value,modif,Concentration,LoD,LoQ,Unit,...,lon,Name of river,River basin name,Day,Month,Year,campaign,zone,tipus,cod_eu
0,28,water,pesticides,Clofenvinfós,0.00400,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4617759,Cardener,LLOBREGAT,26,9,2011,C2,31,prioritari,ES9081130006010E
1,27,water,pesticides,Clofenvinfós,0.03356,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4617759,Cardener,LLOBREGAT,26,9,2011,C2,31,prioritari,ES9081130006010E
2,7,Water,Pharmaceuticals,Amoxicilina,0.00559,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4595868,Llobregat,LLOBREGAT,13,10,2011,C2,31,preferent,ES9080010001010E
3,8,Water,Pharmaceuticals,Amoxicilina,0.00275,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4595868,Llobregat,LLOBREGAT,13,10,2011,C2,31,preferent,ES9080010001010E
4,10,Water,Pharmaceuticals,Amoxicilina,0.00559,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4602419,Anoia,LLOBREGAT,18,10,2011,C2,31,preferent,ES9083020001010E

In [186]:
#Divide value by 1000 (convert to micrograms/L to milligrams/L)
scarce['Value'] = scarce['Value'].div(1000)
scarce.head()

,id,Sample matrix,Other,Substance name,Value,modif,Concentration,LoD,LoQ,Unit,...,lon,Name of river,River basin name,Day,Month,Year,campaign,zone,tipus,cod_eu
0,28,water,pesticides,Clofenvinfós,0.000004,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4617759,Cardener,LLOBREGAT,26,9,2011,C2,31,prioritari,ES9081130006010E
1,27,water,pesticides,Clofenvinfós,0.000034,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4617759,Cardener,LLOBREGAT,26,9,2011,C2,31,prioritari,ES9081130006010E
2,7,Water,Pharmaceuticals,Amoxicilina,0.000006,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4595868,Llobregat,LLOBREGAT,13,10,2011,C2,31,preferent,ES9080010001010E
3,8,Water,Pharmaceuticals,Amoxicilina,0.000003,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4595868,Llobregat,LLOBREGAT,13,10,2011,C2,31,preferent,ES9080010001010E
4,10,Water,Pharmaceuticals,Amoxicilina,0.000006,None,Individual value,voidLoD,voidLoQ,µg L-1,...,4602419,Anoia,LLOBREGAT,18,10,2011,C2,31,preferent,ES9083020001010E

In [187]:
#Convert Unit to mg/L
scarce['Unit'] = 'mg/L'
#Parse columns Day, Month and Year to date
scarce['fecha'] = pd.to_datetime(scarce[['Day', 'Month', 'Year']])

#Keep only columns 'Substance name', 'Value', 'cod_eu', 'Unit', 'fecha', 'Code'
scarce = scarce[['Substance name', 'Value', 'cod_eu', 'Unit', 'fecha', 'Code']]
scarce.head()

  Substance name     Value            cod_eu  Unit      fecha      Code
0   Clofenvinfós  0.000004  ES9081130006010E  mg/L 2011-09-26  DEPMAN-O
1   Clofenvinfós  0.000034  ES9081130006010E  mg/L 2011-09-26  DEPMAN-I
2    Amoxicilina  0.000006  ES9080010001010E  mg/L 2011-10-13  DEPABR-I
3    Amoxicilina  0.000003  ES9080010001010E  mg/L 2011-10-13  DEPABR-O
4    Amoxicilina  0.000006  ES9083020001010E  mg/L 2011-10-18  DEPIGU-I

In [188]:
#Divide between effluent and influent
scarce_effluent = scarce[scarce['Code'].str.contains('O')]
scarce_influent = scarce[scarce['Code'].str.contains('I')]

In [189]:
#From rows that has same cod_eu and date, convert to one row with one substance per column
scarce_effluent_rows = scarce_effluent.pivot_table(index=['cod_eu', 'fecha'], columns='Substance name', values='Value').reset_index()
scarce_effluent_rows

Substance name,cod_eu,fecha,Amoxicilina,Ciprofloxacina,Clofenvinfós,Clorpirifòs,Sulfametoxazol,Tebuconazol,Terbutrina,Trimetoprim,Venlafaxina
0,ES9080010001010E,2011-10-04,NaN,NaN,NaN,0.000002,NaN,NaN,0.000019,NaN,NaN
1,ES9080010001010E,2011-10-13,0.000003,0.000013,NaN,NaN,0.000002,NaN,NaN,0.000003,0.000013
2,ES9081130006010E,2010-10-23,0.000005,0.000186,NaN,NaN,0.000005,NaN,NaN,0.000113,0.000280
3,ES9081130006010E,2011-09-26,NaN,NaN,0.000004,0.000013,NaN,0.000006,0.000015,NaN,NaN
4,ES9081130006010E,2011-10-13,0.000002,0.000010,NaN,NaN,0.001121,NaN,NaN,0.000002,0.000029
5,ES9083020001010E,2010-10-23,0.000004,0.000361,NaN,NaN,0.000026,NaN,NaN,0.000114,0.000077
6,ES9083020001010E,2011-09-26,NaN,NaN,NaN,0.000006,NaN,NaN,0.000016,NaN,NaN
7,ES9083020001010E,2011-10-18,0.000003,0.000013,NaN,NaN,0.001268,NaN,NaN,0.000011,0.000106

In [190]:
#add rows from scarce_effluent_rows to data
all_effluent_data = pd.concat([data, scarce_effluent_rows], ignore_index=True)
all_effluent_data

,cod_aca,nom_edar,any_dades,cabal_diari,DBO 5 dies,Nitrogen Total,Fòsfor total,cod_eu,fecha,Arsènic,...,suma triazines µg/l,TOC,Amoxicilina,Ciprofloxacina,Clofenvinfós,Clorpirifòs,Sulfametoxazol,Tebuconazol,Trimetoprim,Venlafaxina
0,DABR,ABRERA,2010.0,18140.610959,18.541667,31.692917,2.045833,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DABR,ABRERA,2011.0,16261.693151,10.333333,17.215417,3.287500,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DABR,ABRERA,2012.0,14575.366120,52.336471,37.411765,2.476471,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DABR,ABRERA,2013.0,15390.208219,16.500000,12.191667,0.699167,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DABR,ABRERA,2014.0,15725.142466,NaN,NaN,NaN,ES9080010001010E,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ES9081130006010E,2011-09-26,NaN,...,NaN,NaN,NaN,NaN,0.000004,0.000013,NaN,0.000006,NaN,NaN
5537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ES9081130006010E,2011-10-13,NaN,...,NaN,NaN,0.000002,0.000010,NaN,NaN,0.001121,NaN,0.000002,0.000029
5538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ES9083020001010E,2010-10-23,NaN,...,NaN,NaN,0.000004,0.000361,NaN,NaN,0.000026,NaN,0.000114,0.000077
5539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ES9083020001010E,2011-09-26,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000006,NaN,NaN,NaN,NaN
5540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ES9083020001010E,2011-10-18,NaN,...,NaN,NaN,0.000003,0.000013,NaN,NaN,0.001268,NaN,0.000011,0.000106

In [191]:
#Filter where cod_eu is not null and drop cabal_diari and any_dades columns
all_effluent_data_filtered = all_effluent_data[all_effluent_data['cod_eu'].notna()].reset_index()
all_effluent_data_filtered.drop(['cabal_diari', 'any_dades', 'conductivitat 20ºc µs/cm', 'index'], axis=1, inplace=True)

#in columns names, replace 'µg' by 'mg'
all_effluent_data_filtered.columns = all_effluent_data_filtered.columns.str.replace('µg', 'mg')
all_effluent_data_filtered

,cod_aca,nom_edar,DBO 5 dies,Nitrogen Total,Fòsfor total,cod_eu,fecha,Arsènic,Cadmi,Crom,...,suma triazines mg/l,TOC,Amoxicilina,Ciprofloxacina,Clofenvinfós,Clorpirifòs,Sulfametoxazol,Tebuconazol,Trimetoprim,Venlafaxina
0,DABR,ABRERA,18.541667,31.692917,2.045833,ES9080010001010E,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DABR,ABRERA,10.333333,17.215417,3.287500,ES9080010001010E,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DABR,ABRERA,52.336471,37.411765,2.476471,ES9080010001010E,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DABR,ABRERA,16.500000,12.191667,0.699167,ES9080010001010E,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DABR,ABRERA,NaN,NaN,NaN,ES9080010001010E,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1783,NaN,NaN,NaN,NaN,NaN,ES9081130006010E,2011-09-26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000004,0.000013,NaN,0.000006,NaN,NaN
1784,NaN,NaN,NaN,NaN,NaN,ES9081130006010E,2011-10-13,NaN,NaN,NaN,...,NaN,NaN,0.000002,0.000010,NaN,NaN,0.001121,NaN,0.000002,0.000029
1785,NaN,NaN,NaN,NaN,NaN,ES9083020001010E,2010-10-23,NaN,NaN,NaN,...,NaN,NaN,0.000004,0.000361,NaN,NaN,0.000026,NaN,0.000114,0.000077
1786,NaN,NaN,NaN,NaN,NaN,ES9083020001010E,2011-09-26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000006,NaN,NaN,NaN,NaN
1787,NaN,NaN,NaN,NaN,NaN,ES9083020001010E,2011-10-18,NaN,NaN,NaN,...,NaN,NaN,0.000003,0.000013,NaN,NaN,0.001268,NaN,0.000011,0.000106

In [192]:
#Add column "Unit" with value "mg/L"
all_effluent_data_filtered['Unit'] = 'mg/L'

In [193]:
#pivot wide to long format
all_effluent_data_long = pd.melt(all_effluent_data_filtered, id_vars=['cod_eu', 'cod_aca', 'nom_edar', 'fecha', "Unit"], var_name='Substance name', value_name='Value')
#Filter where Value is not null
all_effluent_data_long = all_effluent_data_long[all_effluent_data_long['Value'].notna()]
all_effluent_data_long

,cod_eu,cod_aca,nom_edar,fecha,Unit,Substance name,Value
0,ES9080010001010E,DABR,ABRERA,NaT,mg/L,DBO 5 dies,18.541667
1,ES9080010001010E,DABR,ABRERA,NaT,mg/L,DBO 5 dies,10.333333
2,ES9080010001010E,DABR,ABRERA,NaT,mg/L,DBO 5 dies,52.336471
3,ES9080010001010E,DABR,ABRERA,NaT,mg/L,DBO 5 dies,16.500000
5,ES9080010001010E,DABR,ABRERA,NaT,mg/L,DBO 5 dies,10.000000
...,...,...,...,...,...,...,...
159125,ES9080010001010E,NaN,NaN,2011-10-13,mg/L,Venlafaxina,0.000013
159126,ES9081130006010E,NaN,NaN,2010-10-23,mg/L,Venlafaxina,0.000280
159128,ES9081130006010E,NaN,NaN,2011-10-13,mg/L,Venlafaxina,0.000029
159129,ES9083020001010E,NaN,NaN,2010-10-23,mg/L,Venlafaxina,0.000077
159131,ES9083020001010E,NaN,NaN,2011-10-18,mg/L,Venlafaxina,0.000106

In [194]:
#Upload to sql
all_effluent_data_long.to_sql('edars_effluent', engine, if_exists='replace', index=False)

286